@charset "UTF-8";

.mainbody {
	max-width: 100rem;
	margin: 0 auto;
	position: relative;
	z-index: -1;
}

body {
	flex-direction: column;
	width: 100%;
	background-color: #e9ecef!important;
	position: relative;
	z-index: -1;
}

#rec-container {
	position: relative;
	width: -webkit-fill-available;
	height: 480px;
	overflow: hidden;
}

#rec-wrapper {
	position: absolute;
	width: -webkit-fill-available;
}

#rec-store{
	float: left;
    position: relative;
	margin-right: auto;
	height: 500px;
    padding: 0;
}

#rec_storeImg{
	width: -webkit-fill-available;
	height: 300px;
}

/* #rec-store:not(:last-child){
	margin-right: 30px;
} */

.animated {
	transition: 0.5s ease-out;
}

#tm-video-container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.controls{
    text-align: end;
    margin-top: 0px;
    margin-right: 20px;
}

#tm-video {
	width: 100%;
	height: 100%;
	position: relative;
	object-fit: cover;
}